.time-picker {
    display: flex;
}

ngx-material-timepicker-content {
    z-index: 10;
}

mat-form-field {
    margin: 10px;
}

.input-field {
    max-width: 204px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.cancelBtn{
    background-color: gainsboro;
    font-family: 'Dosis', sans-serif;
}

.okBtn{
    background-color: #fce38a;
    color: black;
    font-family: 'Dosis', sans-serif;
}

