<div class="container">
  <div class="users">
    <h2 class="users-title">Usuarios</h2>  
    <div class="contacts-container">
      <mat-accordion *ngFor="let contact of clientList" class="contact">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{getFullName(contact.name, contact.lastName)}}
              <div class="avatar" *ngIf="contact.gender === 'MALE'">
                <img [src]="getMaleAvatar(contact.id+contact.phoneNumber)" alt="">
              </div>
              <div class="avatar" *ngIf="contact.gender === 'FEMALE'">
                <img [src]="getFemaleAvatar(contact.id+contact.phoneNumber)" alt="">
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item> Nombre: {{contact.name}} </mat-list-item>
            <mat-list-item> Primer apellido: {{contact.lastName}} </mat-list-item>
            <mat-list-item> Segundo apellido: {{contact.secondSurname}} </mat-list-item>
            <mat-list-item> Edad: {{contact.age}} </mat-list-item>
            <mat-list-item> Género: {{getGenderViewValue(contact.gender)}} </mat-list-item>
            <mat-list-item> Teléfono: {{contact.phoneNumber}} </mat-list-item>
            <mat-list-item> Centro: {{center?.name}} </mat-list-item>
            <mat-list-item> Dirección: {{contact.address}} </mat-list-item>
            <mat-list-item> Ciudad: {{contact.city}} </mat-list-item>
          </mat-list>

          <div class="actions">
            <div class="worker-buttons" *ngIf="loggedUser?.role === 'WORKER'">
              <button mat-raised-button (click)="editClient(contact)" id="editBtn">Editar</button>
              <button mat-raised-button color="warn" (click)="deleteClient(contact)">Eliminar</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="workers">
    <h2 class="workers-title">Personal del centro</h2>
    <div class="workers-container">
      <mat-accordion *ngFor="let worker of workerList" class="worker">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{getFullName(worker.name, worker.lastName)}}
              <div class="avatar" *ngIf="worker.gender === 'MALE'">
                <img [src]="getMaleAvatar(worker.id+worker.phoneNumber)" alt="">
              </div>
              <div class="avatar" *ngIf="worker.gender === 'FEMALE'">
                <img [src]="getFemaleAvatar(worker.id+worker.phoneNumber)" alt="">
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item> Nombre: {{worker.name}} </mat-list-item>
            <mat-list-item> Primer apellido: {{worker.lastName}} </mat-list-item>
            <mat-list-item> Segundo apellido: {{worker.secondSurname}} </mat-list-item>
            <mat-list-item> Género: {{getGenderViewValue(worker.gender)}} </mat-list-item>
            <mat-list-item> Teléfono: {{worker.phoneNumber}} </mat-list-item>
            <mat-list-item> Centro: {{center?.name}} </mat-list-item>
            <mat-list-item> Puesto: {{worker.occupation}} </mat-list-item>
            <mat-list-item> Número profesional: {{worker.professionalNumber}} </mat-list-item>
          </mat-list>

          <div class="actions">
            <div class="worker-buttons" *ngIf="loggedUser?.role === 'WORKER'">
              <button mat-raised-button (click)="editWorker(worker)" id="editBtn">Editar</button>
              <button mat-raised-button color="warn" (click)="deleteWorker(worker)">Eliminar</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<button mat-fab aria-label="Nuevo usuario" matTooltip="Añadir usuario" id="addBtn" [matMenuTriggerFor]="beforeMenu" *ngIf="loggedUser?.role === 'WORKER'">
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu-no-scroll">
    <button mat-menu-item (click)="addClient()">Añadir usuario</button>
    <button mat-menu-item (click)="addWorker()">Añadir profesional</button>
  </mat-menu>
  <mat-icon>add</mat-icon>
</button>