.navigator{
  background-color:#ee8f98f1;
  width: 100vw;
  height: 80px;
  display: flex;
}

.home{
  font-family: 'Alegreya', serif;
}

.left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.container-image{
  max-width: 250px;
  max-height: 250px;
}


.navigator div{
  margin: 20px;
  cursor: pointer;
}

.logout {
  margin-right: 10px !important;
  margin-left: auto !important;
}

mat-expansion-panel {
  z-index: 10;
  background-color: #fce38a;
}

mat-expansion-panel-header {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.activities{
  font-family: 'Alegreya', serif;
}

.infoCenter{
  font-family: 'Dosis', sans-serif;

}



