
<div class="activities-container">  
  <mat-card class="activity-card" *ngFor="let activity of activitiesList">
    <mat-card-header>
      <mat-card-title (click)="openActivity(activity)">{{activity.title}}</mat-card-title>
      <mat-card-subtitle>{{getTypeViewValue(activity.type)}} - {{center?.name}}</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image [src]="getImageByType(activity.type)">
    <mat-card-content>
      <div class="description-container">
        <p class = "description">{{activity.description}}</p>
      </div>
      <div class="date">
        <p><strong>Fecha:</strong> {{activity.date}}</p>
        <p><strong>Hora:</strong> {{activity.time}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions">
        <button class="me-apunto" mat-raised-button color="accent" (click)="goToActivity(activity)" [disabled]="disableGoToActivity(activity)">{{disableGoToActivity(activity) ? 'YA ESTOY APUNTADO' :'¡ME APUNTO!'}}</button>
        <div class="worker-buttons" *ngIf="loggedUser?.role === 'WORKER'">
          <button  mat-raised-button (click)="editActivity(activity)" id="editBtn">Editar
            <mat-icon>edit</mat-icon>
          </button>
          <button  mat-raised-button color="warn" (click)="deleteActivity(activity)">Eliminar
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-fab aria-label="Nueva actividad" class= "add" matTooltip="Añadir actividad" id="addBtn" mat-button (click)="addActivity()" *ngIf="loggedUser?.role ==='WORKER'">
  <mat-icon class= icon>add</mat-icon>
</button>