


mat-card-title {
  cursor: pointer;
}

mat-card-title:hover {
  font-weight: bold;
}

.activities-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.activity-card {
  max-width: 500px;
  margin: 15px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px !important;
}




mat-card-content{
  font-family: 'Dosis', sans-serif;
  font-size: 15px !important;
}

button{
  font-family: 'Dosis', sans-serif;
  font-size: 17px !important;
}

mat-card-title{
  font-family: 'Dosis', sans-serif;
  font-size: 24px !important;
  font-weight: bold;
  text-transform: capitalize;
}

.mat-card-image{
height: 250px;
width: 500px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

#addBtn {
  z-index: 1;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fce38a;
}

.icon{
  color:black;
}

#editBtn {
  background-color: gainsboro;
}

.me-apunto{
  background-color: #fce38a;
  color: black;
}