/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0
}
*:focus {
  outline: 0;
}

body {
  background: #E5ECF4  ;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

.mat-dialog-title{
  font-size: 30px !important;
  font-family: 'Dosis', sans-serif !important;
  font-weight: bold !important;
}

.mat-dialog-content * {
 /*  font-family: 'Dosis', sans-serif !important; */
}