/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0
}
*:focus {
  outline: 0;
}

body {
  background: #eeeeee;
}

h2 {
  font-family: 'Roboto Mono', monospace !important;
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}