<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form (ngSubmit)="submit()" [formGroup]="contactForm">
        <mat-form-field *ngIf="!this.data.body || !this.data.body.id" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [formControl]="username" type="text" formControlName="username"
                [class.is-invalid]="username.invalid && username.touched">
            <mat-error *ngIf="username.hasError('required')">
                El nombre de usuario es necesario
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!this.data.body || !this.data.body.id" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [formControl]="password" type="password" formControlName="password"
                [class.is-invalid]="password.invalid && password.touched">
            <mat-error *ngIf="password.hasError('required')">
                La contraseña es necesaria
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                La contraseña debe tener más de 6 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [formControl]="name" type="text" formControlName="name"
                [class.is-invalid]="name.invalid && name.touched">
            <mat-error *ngIf="name.hasError('required')">
                El nombre es necesario
            </mat-error>
            <mat-error *ngIf="name.hasError('invalidname')">
                El nombre no puede tener dígitos.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Primer Apellido</mat-label>
            <input matInput [formControl]="lastName" type="text" formControlName="lastName"
                [class.is-invalid]="lastName.invalid && lastName.touched">
            <mat-error *ngIf="lastName.hasError('required')">
                El apellido es necesario
            </mat-error>
            <mat-error *ngIf="lastName.hasError('invalidname')">
                El apellido no puede tener dígitos.
            </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="fill">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput [formControl]="secondSurname" type="text" formControlName="secondSurname">
            <mat-error *ngIf="secondSurname.hasError('invalidname')">
                El apellido no puede tener dígitos.
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="selectedType === 'CLIENT'" appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput [formControl]="age" type="number" formControlName="age"
                [class.is-invalid]="age.invalid && age.touched">
            <mat-error *ngIf="age.hasError('required')">
                La edad es necesaria
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>
            <mat-select [(ngModel)]="selectedGender" name="gender" formControlName="gender"
                [class.is-invalid]="gender.invalid && gender.touched">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="gender.hasError('required')">
                El género es necesario
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Número de teléfono</mat-label>
            <input matInput [formControl]="phoneNumber" type="text" formControlName="phoneNumber"
                [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
            <mat-error *ngIf="phoneNumber.hasError('required')">
                El teléfono es necesario
            </mat-error>
            <mat-error *ngIf="phoneNumber.hasError('invalidphone')">
                El formato es invalido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Centro</mat-label>
            <mat-select [(ngModel)]="selectedCenter" name="center" formControlName="center"
                [class.is-invalid]="center.invalid && center.touched">
                <mat-option *ngFor="let center of centerList" [value]="center.id">
                    {{center.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="center.hasError('required')">
                El centro es necesario
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="selectedType === 'CLIENT'" appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput [formControl]="address" type="text" formControlName="address"
                [class.is-invalid]="address.invalid && address.touched">
            <mat-error *ngIf="address.hasError('required')">
                La dirección es necesaria
            </mat-error>
        </mat-form-field>
    
        <mat-form-field *ngIf="selectedType === 'CLIENT'" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput [formControl]="city" type="text" formControlName="city"
                [class.is-invalid]="city.invalid && city.touched">
            <mat-error *ngIf="city.hasError('required')">
                La ciudad es necesaria
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="selectedType === 'WORKER'" appearance="fill">
            <mat-label>Número de profesional</mat-label>
            <input matInput [formControl]="professionalNumber" type="text" formControlName="professionalNumber"
                [class.is-invalid]="professionalNumber.invalid && professionalNumber.touched">
            <mat-error *ngIf="professionalNumber.hasError('required')">
                El número de profesional es necesario
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="selectedType === 'WORKER'" appearance="fill">
            <mat-label>Puesto</mat-label>
            <input matInput [formControl]="occupation" type="text" formControlName="occupation"
                [class.is-invalid]="occupation.invalid && occupation.touched">
            <mat-error *ngIf="occupation.hasError('required')">
                El puesto es necesario
            </mat-error>
        </mat-form-field>
 
    </form>
</div>
<div mat-dialog-actions>
    <button class="cancelBtn" mat-stroked-button color="basic" (click)="onNoClick()">Cancelar</button>
    <button class = "btnok" mat-raised-button (click)="submit()">OK</button>
</div>