form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

mat-form-field {
    margin: 10px;
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.btnok{
    background-color: #fce38a;
    color: black;
    font-family: 'Dosis', sans-serif;

}

.cancelBtn{
    background-color: gainsboro;
    font-family: 'Dosis', sans-serif;

}